<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'styles.css'%}" rel="stylesheet" />


        <!-- 내가 추가한 스크립트 -->
        <script src="{%static 'Setting.js'%}">
            

            // 디버그용. 로컬스토리지의 변수들 리셋.
            // var CartinItem=[]
            // localStorage.setItem("ItemCartIn",JSON.stringify(CartinItem));
            // var cartcount=0;
            // localStorage.setItem("cartcount",JSON.stringify(cartcount));

            
        </script>


    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
            <script src="{%static 'pagetop.js'%}"></script>
        </nav>
        <script src="{%static 'cartbtn.js'%}"></script>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        여기에 상품 설명
        스케치북
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="{%static 'bootstrap.bundle.min.js'%}"></script>
        <!-- Core theme JS-->
        <script src="{%static 'scripts.js'%}"></script>
    </body>
</html>
